oppiTempMonitor
[{"id":"a866b427.05faa8","type":"tab","label":"Övervakning"},{"id":"cc7ad866.678408","type":"tab","label":"Felkontroll"},{"id":"92703c3f.cb5dc","type":"tab","label":"Inställningar"},{"id":"ea4f52b5.39a0b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#489598","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#489598","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#71b9bc","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#489598","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"da78446e.14f798","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6e2fed0c.e12e64","type":"ui_group","z":"","name":"CCT1","tab":"dbb47dcf.43c27","order":2,"disp":true,"width":"6"},{"id":"dbb47dcf.43c27","type":"ui_tab","z":"","name":"Övervakning","icon":"dashboard","order":1},{"id":"1879fe1a.e74a82","type":"ui_group","z":"","name":"Inställningar","tab":"e90f78b4.f99268","disp":false,"width":"6"},{"id":"e90f78b4.f99268","type":"ui_tab","z":"","name":"Inställningar","icon":"dashboard","order":2},{"id":"f2d5b992.1d3958","type":"ui_group","z":"","name":"CCT2","tab":"dbb47dcf.43c27","order":2,"disp":true,"width":"6"},{"id":"f200231b.95659","type":"ui_group","z":"","name":"CCT3","tab":"dbb47dcf.43c27","order":3,"disp":true,"width":"6"},{"id":"ca68883a.73e418","type":"ui_group","z":"","name":"CCT4","tab":"dbb47dcf.43c27","order":4,"disp":true,"width":"6"},{"id":"4371a299.c499bc","type":"ui_group","z":"","name":"CCT5","tab":"dbb47dcf.43c27","order":5,"disp":true,"width":"6"},{"id":"83cdd9ec.a6e4c8","type":"ui_group","z":"","name":"CCT6","tab":"dbb47dcf.43c27","order":6,"disp":true,"width":"6"},{"id":"4671f607.e754c8","type":"ui_group","z":"","name":"CCT7","tab":"dbb47dcf.43c27","order":7,"disp":true,"width":"6"},{"id":"3469c92b.d97ac6","type":"ui_group","z":"","name":"CCT8","tab":"dbb47dcf.43c27","order":8,"disp":true,"width":"6"},{"id":"90c8c7ce.35ab88","type":"ui_group","z":"","name":"BBT3","tab":"dbb47dcf.43c27","order":9,"disp":true,"width":"6"},{"id":"b13c36a3.24dc18","type":"ui_group","z":"","name":"BBT4","tab":"dbb47dcf.43c27","order":10,"disp":true,"width":"6"},{"id":"c7cf2b66.55f228","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT1/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":60,"wires":[["8c2370ad.e44c2","401aeea5.4d7c","a6f94033.21329"]]},{"id":"8c2370ad.e44c2","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT1","group":"6e2fed0c.e12e64","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":180,"wires":[]},{"id":"a6f94033.21329","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["f6a4b61b.5fb378"]]},{"id":"dee70583.e08198","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT1/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":120,"wires":[["401aeea5.4d7c","e46f5f09.1c579"]]},{"id":"f31f3281.36ad4","type":"ui_text","z":"a866b427.05faa8","group":"6e2fed0c.e12e64","order":2,"width":0,"height":0,"name":"Börvärde CCT1","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":140,"wires":[]},{"id":"b541c43a.5bd198","type":"ui_button","z":"92703c3f.cb5dc","name":"","group":"1879fe1a.e74a82","order":7,"width":0,"height":0,"passthru":false,"label":"Skicka till PLC","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":380,"y":600,"wires":[["ba9e245d.ad7448"]]},{"id":"e96619f5.1fa458","type":"function","z":"92703c3f.cb5dc","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar topic = msg.topic;\n\nflow.set(topic, payLoad);\n\nreturn flow;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["3ec9f922.c0b296"]]},{"id":"28c415f.352d2ea","type":"ui_numeric","z":"92703c3f.cb5dc","name":"","label":"BBT temp","group":"1879fe1a.e74a82","order":4,"width":0,"height":0,"passthru":true,"topic":"bbtTemp","format":"{{value}} °C","min":"-5","max":"30","step":"0.1","x":400,"y":260,"wires":[["e96619f5.1fa458"]]},{"id":"145001fc.40de5e","type":"inject","z":"92703c3f.cb5dc","name":"","topic":"","payload":"bbtTemp","payloadType":"flow","repeat":"","crontab":"","once":true,"x":190,"y":260,"wires":[["28c415f.352d2ea"]]},{"id":"9ea168a5.425038","type":"inject","z":"92703c3f.cb5dc","name":"","topic":"","payload":"sampleTime","payloadType":"flow","repeat":"","crontab":"","once":true,"x":170,"y":60,"wires":[["6577a3e3.c1b69c"]]},{"id":"3ec9f922.c0b296","type":"file","z":"92703c3f.cb5dc","name":"Settings file","filename":"/home/pi/Public/settingsOppiTemp.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":990,"y":200,"wires":[]},{"id":"de8f169b.8ff7c8","type":"inject","z":"92703c3f.cb5dc","name":"","topic":"","payload":"coneONTemp","payloadType":"flow","repeat":"","crontab":"","once":true,"x":170,"y":360,"wires":[["84bf47d8.fc2b38"]]},{"id":"84bf47d8.fc2b38","type":"ui_numeric","z":"92703c3f.cb5dc","name":"","label":"Konkylning på vid temp","group":"1879fe1a.e74a82","order":5,"width":0,"height":0,"passthru":true,"topic":"coneONTemp","format":"{{value}} °C","min":"-5","max":"30","step":"0.1","x":450,"y":360,"wires":[["e96619f5.1fa458"]]},{"id":"52a5388.c3806c8","type":"inject","z":"92703c3f.cb5dc","name":"","topic":"","payload":"coneOFFTemp","payloadType":"flow","repeat":"","crontab":"","once":true,"x":170,"y":460,"wires":[["309c7a2d.0522a6"]]},{"id":"309c7a2d.0522a6","type":"ui_numeric","z":"92703c3f.cb5dc","name":"","label":"Konkylning av vid temp","group":"1879fe1a.e74a82","order":6,"width":0,"height":0,"passthru":true,"topic":"coneOFFTemp","format":"{{value}} °C","min":"-5","max":"30","step":"0.1","x":450,"y":460,"wires":[["e96619f5.1fa458"]]},{"id":"e46f5f09.1c579","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["f31f3281.36ad4","f6a4b61b.5fb378"]]},{"id":"df72763d.5f3f38","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT2/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":300,"wires":[["de011d35.19dda","bb7ae3b7.19e9b","5da973ad.79846c"]]},{"id":"de011d35.19dda","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT2","group":"f2d5b992.1d3958","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":420,"wires":[]},{"id":"bb7ae3b7.19e9b","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["a61841.f36127c"]]},{"id":"1ab78cff.a9bf13","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT2/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":360,"wires":[["ba5e3c8d.8a2cb","5da973ad.79846c"]]},{"id":"c93e6c91.e7f65","type":"ui_text","z":"a866b427.05faa8","group":"f2d5b992.1d3958","order":2,"width":0,"height":0,"name":"Börvärde CCT2","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":380,"wires":[]},{"id":"ba5e3c8d.8a2cb","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["c93e6c91.e7f65","a61841.f36127c"]]},{"id":"4437c08d.241d","type":"ui_text","z":"a866b427.05faa8","group":"6e2fed0c.e12e64","order":1,"width":0,"height":0,"name":"Läge CCT1","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":220,"wires":[]},{"id":"4ca48e5f.599a","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT1/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":180,"wires":[["4437c08d.241d","401aeea5.4d7c"]]},{"id":"917be413.c10308","type":"ui_text","z":"a866b427.05faa8","group":"f2d5b992.1d3958","order":1,"width":0,"height":0,"name":"Läge CCT2","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":460,"wires":[]},{"id":"3e7acc7f.c00174","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT2/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":420,"wires":[["917be413.c10308","5da973ad.79846c"]]},{"id":"f6a4b61b.5fb378","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"6e2fed0c.e12e64","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":100,"wires":[[],[]]},{"id":"a61841.f36127c","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"f2d5b992.1d3958","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":340,"wires":[[],[]]},{"id":"401aeea5.4d7c","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(valueKey);\n\n    if (currentMode !== payLoad){\n        msg.topic = \"Clear\";\n        msg.payload = currentMode +\"=\"+ payLoad;\n        //return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\nvar data = {};\ndata.payload = flow.get(valueKey)\nreturn data;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["4c79cac5.8e92d4"]]},{"id":"651b1c93.a8e3a4","type":"mqtt out","z":"92703c3f.cb5dc","name":"","topic":"setSampleTime","qos":"","retain":"","broker":"da78446e.14f798","x":940,"y":480,"wires":[]},{"id":"ba9e245d.ad7448","type":"function","z":"92703c3f.cb5dc","name":"Fetch from Flow variable","func":"var sampleTime = flow.get('sampleTime');\nvar tempTolerance = flow.get('tempTolerance');\nvar bbtTemp = flow.get('bbtTemp');\nvar coneONTemp = flow.get('coneONTemp');\nvar coneOFFTemp = flow.get('coneOFFTemp');\n\nvar array = [];\narray[0] = {payload: sampleTime};\narray[1] = {payload: tempTolerance};  \narray[2] = {payload: bbtTemp};\narray[3] = {payload: coneONTemp}; \narray[4] = {payload: coneOFFTemp};\n\nreturn array;","outputs":"5","noerr":0,"x":610,"y":600,"wires":[["651b1c93.a8e3a4"],["c83f533e.9377e"],["5a43b5ad.53fcfc"],["a21c1a70.0a6528"],["2d96dcf4.424e84"]]},{"id":"3fa65a36.154e46","type":"inject","z":"92703c3f.cb5dc","name":"","topic":"","payload":"tempTolerance","payloadType":"flow","repeat":"","crontab":"","once":true,"x":170,"y":160,"wires":[["73bda75f.384728"]]},{"id":"c83f533e.9377e","type":"mqtt out","z":"92703c3f.cb5dc","name":"","topic":"setTempTolerance","qos":"","retain":"","broker":"da78446e.14f798","x":950,"y":540,"wires":[]},{"id":"884504c6.7a5138","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT1/error","qos":"1","broker":"da78446e.14f798","x":100,"y":140,"wires":[["41bbfbd2.b2f994"]]},{"id":"9f3f4a34.6bce08","type":"function","z":"cc7ad866.678408","name":"Felmeddelande utförlig text","func":"switch (msg.payload){\n    case \"TempSensor\":\n    msg.payload = msg.topic +\" Systemet får ingen kontakt med temperatursensorn. - - - \"+ msg.time;    \n    break;\n    \n    case \"ShuntMalfunction\":\n    msg.payload = msg.topic +\" Shuntmotorn verkar inte fungera som den ska. - - - \"+ msg.time;\n    break;\n    \n    case \"ShuntSensor\":\n    msg.payload = msg.topic +\" Sensorn för shuntmotorn ger inte rätt signal. - - - \"+ msg.time;    \n    break;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["929a00ad.6b05d"]]},{"id":"3313a9d2.2c2626","type":"e-mail","z":"cc7ad866.678408","server":"smtp.gmail.com","port":"465","secure":true,"name":"ingo.henrik@gmail.com","dname":"","x":950,"y":380,"wires":[]},{"id":"34861341.f5ebfc","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT2/error","qos":"1","broker":"da78446e.14f798","x":100,"y":200,"wires":[["41bbfbd2.b2f994"]]},{"id":"455c2278.67f47c","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT3/error","qos":"1","broker":"da78446e.14f798","x":100,"y":260,"wires":[["41bbfbd2.b2f994"]]},{"id":"c4e407a3.f52ca8","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT4/error","qos":"1","broker":"da78446e.14f798","x":100,"y":320,"wires":[["41bbfbd2.b2f994"]]},{"id":"47b4f771.4f07d8","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT5/error","qos":"1","broker":"da78446e.14f798","x":100,"y":380,"wires":[["41bbfbd2.b2f994"]]},{"id":"f65852d4.cdf4d","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT6/error","qos":"1","broker":"da78446e.14f798","x":100,"y":440,"wires":[["41bbfbd2.b2f994"]]},{"id":"b69a77cf.7e1b28","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT7/error","qos":"1","broker":"da78446e.14f798","x":100,"y":500,"wires":[["41bbfbd2.b2f994"]]},{"id":"b1768f26.d7e93","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"CCT8/error","qos":"1","broker":"da78446e.14f798","x":100,"y":560,"wires":[["41bbfbd2.b2f994"]]},{"id":"45d098ae.149b68","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"BBT3/error","qos":"1","broker":"da78446e.14f798","x":100,"y":620,"wires":[["41bbfbd2.b2f994"]]},{"id":"eab7f84a.b8a328","type":"mqtt in","z":"cc7ad866.678408","name":"","topic":"BBT4/error","qos":"1","broker":"da78446e.14f798","x":100,"y":680,"wires":[["41bbfbd2.b2f994"]]},{"id":"41bbfbd2.b2f994","type":"moment","z":"cc7ad866.678408","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Stockholm","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"sv_SE","output":"time","outputType":"msg","outTz":"Europe/Stockholm","x":380,"y":380,"wires":[["9f3f4a34.6bce08"]]},{"id":"d06a778b.0da738","type":"function","z":"a866b427.05faa8","name":"Data format CCT2","func":"var temp = flow.get('CCT2/cTemp');\nvar mode = flow.get('CCT2/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT2 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":160,"wires":[["e1710d1.6d495f"]]},{"id":"e1710d1.6d495f","type":"file","z":"a866b427.05faa8","name":"Loggfil på hallonpaj Public","filename":"/home/pi/Public/logfile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1870,"y":100,"wires":[]},{"id":"f22a20e5.59cef","type":"function","z":"a866b427.05faa8","name":"Data format CCT1","func":"var temp = flow.get('CCT1/cTemp');\nvar mode = flow.get('CCT1/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT1 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":100,"wires":[["e1710d1.6d495f"]]},{"id":"c9f92eb7.422e6","type":"moment","z":"a866b427.05faa8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Stockholm","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"se_SV","output":"","outputType":"msg","outTz":"Europe/Stockholm","x":1140,"y":100,"wires":[["f22a20e5.59cef","d06a778b.0da738","5ee19a09.201f14","9b8349d5.d37018","e0251226.0e2a3","fec1c1b0.03717","9e1ab86b.b56fe8","b1212b41.7761b8","f150ae6a.1faf","bf3cb14c.8951e"]]},{"id":"44f3c111.ffa45","type":"inject","z":"a866b427.05faa8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"x":930,"y":100,"wires":[["c9f92eb7.422e6"]]},{"id":"929a00ad.6b05d","type":"file","z":"cc7ad866.678408","name":"Error log file","filename":"/home/pi/Public/errors.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":910,"y":340,"wires":[]},{"id":"5a43b5ad.53fcfc","type":"mqtt out","z":"92703c3f.cb5dc","name":"","topic":"setBBTTemp","qos":"","retain":"","broker":"da78446e.14f798","x":930,"y":600,"wires":[]},{"id":"a21c1a70.0a6528","type":"mqtt out","z":"92703c3f.cb5dc","name":"","topic":"setConeONTemp","qos":"","retain":"","broker":"da78446e.14f798","x":950,"y":660,"wires":[]},{"id":"2d96dcf4.424e84","type":"mqtt out","z":"92703c3f.cb5dc","name":"","topic":"setConeOFFTemp","qos":"","retain":"","broker":"da78446e.14f798","x":950,"y":720,"wires":[]},{"id":"c23d47fd.961108","type":"mqtt in","z":"92703c3f.cb5dc","name":"","topic":"sampleTime","qos":"2","broker":"da78446e.14f798","x":190,"y":100,"wires":[["6577a3e3.c1b69c"]]},{"id":"61b15dd3.e57ed4","type":"mqtt in","z":"92703c3f.cb5dc","name":"","topic":"tempTolerance","qos":"2","broker":"da78446e.14f798","x":180,"y":200,"wires":[["73bda75f.384728"]]},{"id":"ce73038a.16306","type":"mqtt in","z":"92703c3f.cb5dc","name":"","topic":"BBTTempSetting","qos":"2","broker":"da78446e.14f798","x":180,"y":300,"wires":[["28c415f.352d2ea"]]},{"id":"dbe75312.ed9a","type":"mqtt in","z":"92703c3f.cb5dc","name":"","topic":"coneONTemp","qos":"2","broker":"da78446e.14f798","x":170,"y":400,"wires":[["84bf47d8.fc2b38"]]},{"id":"4fe4ef1.2735b1","type":"mqtt in","z":"92703c3f.cb5dc","name":"","topic":"coneOFFTemp","qos":"2","broker":"da78446e.14f798","x":160,"y":500,"wires":[["309c7a2d.0522a6"]]},{"id":"5fde841a.fb4acc","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT3/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":540,"wires":[["9241e2a0.2a2d6","fca74630.9de2c8","87631356.85ae"]]},{"id":"9241e2a0.2a2d6","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT3","group":"f200231b.95659","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":660,"wires":[]},{"id":"fca74630.9de2c8","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["aa2d4af2.62d7f8"]]},{"id":"e0d9832d.6bbad","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT3/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":600,"wires":[["5f32b76.0541448","87631356.85ae"]]},{"id":"ab923b78.306088","type":"ui_text","z":"a866b427.05faa8","group":"f200231b.95659","order":2,"width":0,"height":0,"name":"Börvärde CCT3","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":620,"wires":[]},{"id":"5f32b76.0541448","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["ab923b78.306088","aa2d4af2.62d7f8"]]},{"id":"9502d990.8ab2e8","type":"ui_text","z":"a866b427.05faa8","group":"f200231b.95659","order":1,"width":0,"height":0,"name":"Läge CCT3","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":700,"wires":[]},{"id":"94c29801.3de0b8","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT3/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":660,"wires":[["9502d990.8ab2e8","87631356.85ae"]]},{"id":"aa2d4af2.62d7f8","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"f200231b.95659","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":580,"wires":[[],[]]},{"id":"5ee19a09.201f14","type":"function","z":"a866b427.05faa8","name":"Data format CCT3","func":"var temp = flow.get('CCT3/cTemp');\nvar mode = flow.get('CCT3/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT3 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":220,"wires":[["e1710d1.6d495f"]]},{"id":"9b8349d5.d37018","type":"function","z":"a866b427.05faa8","name":"Data format CCT4","func":"var temp = flow.get('CCT4/cTemp');\nvar mode = flow.get('CCT4/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT4 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":280,"wires":[["e1710d1.6d495f"]]},{"id":"e0251226.0e2a3","type":"function","z":"a866b427.05faa8","name":"Data format CCT5","func":"var temp = flow.get('CCT5/cTemp');\nvar mode = flow.get('CCT5/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT5 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":340,"wires":[["e1710d1.6d495f"]]},{"id":"fec1c1b0.03717","type":"function","z":"a866b427.05faa8","name":"Data format CCT6","func":"var temp = flow.get('CCT6/cTemp');\nvar mode = flow.get('CCT6/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT6 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":400,"wires":[["e1710d1.6d495f"]]},{"id":"9e1ab86b.b56fe8","type":"function","z":"a866b427.05faa8","name":"Data format CCT7","func":"var temp = flow.get('CCT7/cTemp');\nvar mode = flow.get('CCT7/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT7 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":460,"wires":[["e1710d1.6d495f"]]},{"id":"b1212b41.7761b8","type":"function","z":"a866b427.05faa8","name":"Data format CCT8","func":"var temp = flow.get('CCT8/cTemp');\nvar mode = flow.get('CCT8/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : CCT8 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":520,"wires":[["e1710d1.6d495f"]]},{"id":"40ebebd2.f27eb4","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT4/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":780,"wires":[["19595c58.abf804","69f7ba9c.3426b4","1ee0e50d.9f65eb"]]},{"id":"19595c58.abf804","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT4","group":"ca68883a.73e418","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":900,"wires":[]},{"id":"69f7ba9c.3426b4","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":820,"wires":[["3b57e071.d002e"]]},{"id":"daa1050a.675058","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT4/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":840,"wires":[["259237bc.ea13a8","1ee0e50d.9f65eb"]]},{"id":"223b8cc3.17e364","type":"ui_text","z":"a866b427.05faa8","group":"ca68883a.73e418","order":2,"width":0,"height":0,"name":"Börvärde CCT4","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":860,"wires":[]},{"id":"259237bc.ea13a8","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":860,"wires":[["223b8cc3.17e364","3b57e071.d002e"]]},{"id":"d39a2b68.5f4d68","type":"ui_text","z":"a866b427.05faa8","group":"ca68883a.73e418","order":1,"width":0,"height":0,"name":"Läge CCT4","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":940,"wires":[]},{"id":"b694dcba.3dd24","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT4/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":900,"wires":[["d39a2b68.5f4d68","1ee0e50d.9f65eb"]]},{"id":"3b57e071.d002e","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"ca68883a.73e418","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":820,"wires":[[],[]]},{"id":"b9e21f54.f25df","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT5/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":1020,"wires":[["9277515c.fd835","cc9aa5ea.829ea8","d2d6f683.f4b998"]]},{"id":"9277515c.fd835","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT5","group":"4371a299.c499bc","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":1140,"wires":[]},{"id":"cc9aa5ea.829ea8","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1060,"wires":[["ee5068ce.5aa9c8"]]},{"id":"f4216b72.0b5ba8","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT5/setPoint","qos":"1","broker":"da78446e.14f798","x":80,"y":1080,"wires":[["6485395d.21f808","d2d6f683.f4b998"]]},{"id":"32e2c51.89d3c3a","type":"ui_text","z":"a866b427.05faa8","group":"4371a299.c499bc","order":2,"width":0,"height":0,"name":"Börvärde CCT5","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":1100,"wires":[]},{"id":"6485395d.21f808","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":1100,"wires":[["32e2c51.89d3c3a","ee5068ce.5aa9c8"]]},{"id":"54f93a16.459654","type":"ui_text","z":"a866b427.05faa8","group":"4371a299.c499bc","order":1,"width":0,"height":0,"name":"Läge CCT5","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1180,"wires":[]},{"id":"d6311bee.edc918","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT5/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":1140,"wires":[["54f93a16.459654","d2d6f683.f4b998"]]},{"id":"ee5068ce.5aa9c8","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"4371a299.c499bc","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":1060,"wires":[[],[]]},{"id":"3f47ea53.16bac6","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT6/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":1260,"wires":[["450bf4c6.e9641c","85d8f103.dfe74","5833e31c.d6225c"]]},{"id":"450bf4c6.e9641c","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT6","group":"83cdd9ec.a6e4c8","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":1380,"wires":[]},{"id":"85d8f103.dfe74","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1300,"wires":[["de31a1f.e122a6"]]},{"id":"f7dff697.d865d8","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT6/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":1320,"wires":[["b02b86cc.171c28","5833e31c.d6225c"]]},{"id":"da68d31.6e0f13","type":"ui_text","z":"a866b427.05faa8","group":"83cdd9ec.a6e4c8","order":2,"width":0,"height":0,"name":"Börvärde CCT6","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":1340,"wires":[]},{"id":"b02b86cc.171c28","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":1340,"wires":[["da68d31.6e0f13","de31a1f.e122a6"]]},{"id":"75c7e1ac.6790d","type":"ui_text","z":"a866b427.05faa8","group":"83cdd9ec.a6e4c8","order":1,"width":0,"height":0,"name":"Läge CCT6","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1420,"wires":[]},{"id":"7306fed4.c3a21","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT6/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":1380,"wires":[["75c7e1ac.6790d","5833e31c.d6225c"]]},{"id":"de31a1f.e122a6","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"83cdd9ec.a6e4c8","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":1300,"wires":[[],[]]},{"id":"65107e84.e69e3","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT7/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":1500,"wires":[["e49cc4a3.04be68","d2e346e6.cc7148","aef3cbf3.490028"]]},{"id":"e49cc4a3.04be68","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT7","group":"4671f607.e754c8","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":1620,"wires":[]},{"id":"d2e346e6.cc7148","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1540,"wires":[["640b04f9.b0a26c"]]},{"id":"e74389cc.492c88","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT7/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":1560,"wires":[["765adaad.66ae74","aef3cbf3.490028"]]},{"id":"2a36098c.466546","type":"ui_text","z":"a866b427.05faa8","group":"4671f607.e754c8","order":2,"width":0,"height":0,"name":"Börvärde CCT7","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":1580,"wires":[]},{"id":"765adaad.66ae74","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":1580,"wires":[["2a36098c.466546","640b04f9.b0a26c"]]},{"id":"509d5207.6b5f6c","type":"ui_text","z":"a866b427.05faa8","group":"4671f607.e754c8","order":1,"width":0,"height":0,"name":"Läge CCT7","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1660,"wires":[]},{"id":"35113091.fd678","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT7/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":1620,"wires":[["509d5207.6b5f6c","aef3cbf3.490028"]]},{"id":"640b04f9.b0a26c","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"4671f607.e754c8","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":1540,"wires":[[],[]]},{"id":"8c9601c.e960d","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT8/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":1740,"wires":[["f5224da6.aa7fc","3507d43f.a5f21c","bc7a7ba6.bc8948"]]},{"id":"f5224da6.aa7fc","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde CCT8","group":"3469c92b.d97ac6","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":1860,"wires":[]},{"id":"bc7a7ba6.bc8948","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1780,"wires":[["700ee938.14dab8"]]},{"id":"411b94ff.edfcfc","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT8/setPoint","qos":"1","broker":"da78446e.14f798","x":100,"y":1800,"wires":[["3507d43f.a5f21c","d6ab1046.39e7c"]]},{"id":"3d8b8b6c.e09354","type":"ui_text","z":"a866b427.05faa8","group":"3469c92b.d97ac6","order":2,"width":0,"height":0,"name":"Börvärde CCT8","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":1820,"wires":[]},{"id":"d6ab1046.39e7c","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":1820,"wires":[["3d8b8b6c.e09354","700ee938.14dab8"]]},{"id":"c8ace65f.33c4d8","type":"ui_text","z":"a866b427.05faa8","group":"3469c92b.d97ac6","order":1,"width":0,"height":0,"name":"Läge CCT8","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1900,"wires":[]},{"id":"1c4b2fc4.b617a","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"CCT8/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":1860,"wires":[["c8ace65f.33c4d8","3507d43f.a5f21c"]]},{"id":"700ee938.14dab8","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"3469c92b.d97ac6","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":1780,"wires":[[],[]]},{"id":"3507d43f.a5f21c","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\n\nflow.set(valueKey, payLoad);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1740,"wires":[[]]},{"id":"8cf145f4.fba188","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT3/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":1980,"wires":[["bf4f3e2f.1283c","369e665e.593bca","53152ac4.bcbdd4"]]},{"id":"bf4f3e2f.1283c","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde BBT3","group":"90c8c7ce.35ab88","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":2100,"wires":[]},{"id":"53152ac4.bcbdd4","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2020,"wires":[["578187ef.098898"]]},{"id":"e8db8392.81fac","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT3/setPoint","qos":"1","broker":"da78446e.14f798","x":90,"y":2040,"wires":[["369e665e.593bca","652fe807.d3d848"]]},{"id":"4d673474.c63b9c","type":"ui_text","z":"a866b427.05faa8","group":"90c8c7ce.35ab88","order":2,"width":0,"height":0,"name":"Börvärde BBT3","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":2060,"wires":[]},{"id":"652fe807.d3d848","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":2060,"wires":[["4d673474.c63b9c","578187ef.098898"]]},{"id":"54c5d6.f1b30a2c","type":"ui_text","z":"a866b427.05faa8","group":"90c8c7ce.35ab88","order":1,"width":0,"height":0,"name":"Läge BBT3","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":2140,"wires":[]},{"id":"342552c8.a60b3e","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT3/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":2100,"wires":[["54c5d6.f1b30a2c","369e665e.593bca"]]},{"id":"578187ef.098898","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"90c8c7ce.35ab88","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":2020,"wires":[[],[]]},{"id":"369e665e.593bca","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\n\nflow.set(valueKey, payLoad);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1980,"wires":[[]]},{"id":"96cc19c1.3c92f8","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT4/cTemp","qos":"1","broker":"da78446e.14f798","x":90,"y":2220,"wires":[["1c56c6b.c606139","184d73ca.76b8dc","15eaa6cf.7d1509"]]},{"id":"1c56c6b.c606139","type":"ui_gauge","z":"a866b427.05faa8","name":"Ärvärde BBT4","group":"b13c36a3.24dc18","order":3,"width":"0","height":"0","gtype":"gage","title":"Ärvärde","label":"°C","format":"{{value}}","min":"-5","max":"40","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"","seg2":"","x":340,"y":2340,"wires":[]},{"id":"15eaa6cf.7d1509","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Aktuellt värde\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2260,"wires":[["9deb8e69.aee87"]]},{"id":"eb419833.26e4d8","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT4/setPoint","qos":"1","broker":"da78446e.14f798","x":90,"y":2280,"wires":[["184d73ca.76b8dc","1fc668df.673a37"]]},{"id":"188a308e.72c56f","type":"ui_text","z":"a866b427.05faa8","group":"b13c36a3.24dc18","order":2,"width":0,"height":0,"name":"Börvärde BBT4","label":"Börvärde","format":"{{value}} <small>°C</small>","layout":"row-spread","x":620,"y":2300,"wires":[]},{"id":"1fc668df.673a37","type":"function","z":"a866b427.05faa8","name":"Format data for chart","func":"var float = msg.payload;\nmsg.payload = float;\nmsg.data = float;\nmsg.topic =\"Inställt värde\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":2300,"wires":[["188a308e.72c56f","9deb8e69.aee87"]]},{"id":"8b262d03.2bb96","type":"ui_text","z":"a866b427.05faa8","group":"b13c36a3.24dc18","order":1,"width":0,"height":0,"name":"Läge BBT4","label":"Läge","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":2380,"wires":[]},{"id":"5f00afea.ff2d9","type":"mqtt in","z":"a866b427.05faa8","name":"","topic":"BBT4/cMode","qos":"1","broker":"da78446e.14f798","x":90,"y":2340,"wires":[["8b262d03.2bb96","184d73ca.76b8dc"]]},{"id":"9deb8e69.aee87","type":"ui_chart","z":"a866b427.05faa8","name":"","group":"b13c36a3.24dc18","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm D/M","interpolate":"linear","nodata":"","ymin":"-10","ymax":"40","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":590,"y":2260,"wires":[[],[]]},{"id":"184d73ca.76b8dc","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\n\nflow.set(valueKey, payLoad);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2220,"wires":[[]]},{"id":"f150ae6a.1faf","type":"function","z":"a866b427.05faa8","name":"Data format BBT3","func":"var temp = flow.get('BBT3/cTemp');\nvar mode = flow.get('BBT3/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : BBT3 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":580,"wires":[["e1710d1.6d495f"]]},{"id":"bf3cb14c.8951e","type":"function","z":"a866b427.05faa8","name":"Data format BBT4","func":"var temp = flow.get('BBT4/cTemp');\nvar mode = flow.get('BBT4/cMode');\n\nvar nowDate = msg.payload;\nmsg.payload = nowDate.toLocaleString() +\" : BBT4 : \"+ temp +\" : \"+ mode;\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":640,"wires":[["e1710d1.6d495f"]]},{"id":"73bda75f.384728","type":"ui_numeric","z":"92703c3f.cb5dc","name":"","label":"Temperaturtolerans","group":"1879fe1a.e74a82","order":3,"width":0,"height":0,"passthru":true,"topic":"tempTolerance","format":"{{value}} °C","min":"0.050","max":"1","step":"0.010","x":430,"y":160,"wires":[["e96619f5.1fa458"]]},{"id":"6577a3e3.c1b69c","type":"ui_numeric","z":"92703c3f.cb5dc","name":"","label":"Mätprovtid","group":"1879fe1a.e74a82","order":1,"width":0,"height":0,"passthru":true,"topic":"sampleTime","format":"{{value}} sekunder","min":"20","max":"600","step":"1","x":410,"y":60,"wires":[["e96619f5.1fa458"]]},{"id":"5da973ad.79846c","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n        return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n","outputs":1,"noerr":0,"x":360,"y":300,"wires":[[]]},{"id":"87631356.85ae","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n        return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n","outputs":1,"noerr":0,"x":360,"y":540,"wires":[[]]},{"id":"1ee0e50d.9f65eb","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n        return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n","outputs":1,"noerr":0,"x":360,"y":780,"wires":[[]]},{"id":"d2d6f683.f4b998","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n        return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n","outputs":1,"noerr":0,"x":360,"y":1020,"wires":[[]]},{"id":"5833e31c.d6225c","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n       return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n ","outputs":1,"noerr":0,"x":360,"y":1260,"wires":[[]]},{"id":"aef3cbf3.490028","type":"function","z":"a866b427.05faa8","name":"Save in Flow variable","func":"var payLoad = msg.payload;\nvar valueKey = msg.topic;\nvar split = msg.topic.split(\"/\");\n\nif (split[1] == \"cMode\"){\n    var currentMode = flow.get(msg.topic);\n    if (currentMode != msg.payload){\n        msg.topic = \"Clear\";\n        msg.payload = [];\n        return msg;\n    } \n}\n\nflow.set(valueKey, payLoad);\n\n","outputs":1,"noerr":0,"x":360,"y":1500,"wires":[[]]},{"id":"4c79cac5.8e92d4","type":"debug","z":"a866b427.05faa8","name":"","active":true,"console":"false","complete":"true","x":590,"y":60,"wires":[]}]
